/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #FF9100;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #2FCF4D;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.navbar-inverse .navbar-brand {
  color: #FF9100;
}
.rightbar{
  border-right: 1px solid #333;
}
.leftbar{
  border-left: 1px solid #333;
}
.nav.navbar-nav.navbar-right.right-margin{
  margin-right: 140px;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.link {
  fill: none;
  stroke: green;
  stroke-width: 1.4px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #84FF00;
  stroke: #00008B;
  stroke-width: 1.5px;
}

text {
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
}
.source {
  fill: rgb(0, 232, 0);
  stroke: green;
}
.target {
  fill: rgb(255, 136, 0);
  stroke: rgb(140, 37, 0);
}
text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
thead {
  background-color: #F08900;
  color: white;
}
@media(min-width: 768px){
  .container{
    width: 900px;
  }
}
h3 {
  margin-top: 60px;
}
.col-sm-6 h3 {
  margin-top: 5px;
}
.genreport{
  cursor: pointer;
}